* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.header {
    background-color: #ff5e00;
    color: #000;
    font-size: 60px;
    border-bottom: 1px solid black;
    text-align: center;
    padding: 100px 0 100px 0;
}

.subheader {
    background-color: orange;
    height: 90px;
    display: flex;
    gap: 15px;
}

.subheader>p {
    font-size: 17px;
}

.splitParagraphs {
    display: flex;

}

.paragraph {
    padding: 10px;
    margin: 15px;
    background-color: blue;
    color: #ffffff;
    border: 1px solid black;
}