* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.textarea {
    text-align: center;
    padding: 200px;
}

.font1 {
    font-family: PT-serif;
}

.font2 {
    font-family: Dancing Script;
}

.mini {
    font-size: 16px;
    margin: 5px;
}
.smallmini {
    font-size: 22px;
}
.small {
  font-size: 25px;
}

.big {
    font-size: 60px;
}

.brown {
    color: #9F6F24;
}